
.column1 {
  width: 300px;
  height: auto;
  float: left;
  margin: 100px;
}
.column2 {
  width: 300px;
  height: auto;
  float: left;
  margin: 100px;
}

.column3 {
  width: 300px;
  height: auto;
  float: left;
  margin: 100px;
}
img {
  width: 200px;
  height: 200px;
}